@import '../../variables.less';

.projects {
    background-color: @color__projects;
    padding: 2rem;
    font-family: @font__robot;
    font-weight: 600;

    .project-item {
        text-align: center;
        width: ~"calc(100% / 3)";
        display: inline-block;
        vertical-align: top;
        padding: 1rem;
        line-height: 1.2rem;
        font-size: 1rem;

        .project-title {
            text-transform: uppercase;
            font-family: @font__default;
            font-weight: 700;
            letter-spacing: 2px;
            border: 3px solid @color__navy;
            padding: .4rem;
            display: inherit;
            margin-bottom: 1rem;
            color: @color__navy;
        }

        & > img {
            max-width: 100%;
            display: block;
            margin: auto;
        }

        .project-desc {
            color: @color__navy;
            padding-top: 1rem;
            letter-spacing: .2px;
        }

        .project-link {
            font-weight: 500;

            & > a {
                display: block;
                text-decoration: none;
            }

            a:active, a:focus {
                outline: 0;
                border: none;
                outline-style: none;
            }
        }
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media only screen and (max-width: 900px) {
    .projects {
        & > .project-item {
            width: 100%;
        }
    }
}