@import '../../variables.less';

.projects {
    background-color: @color__projects;
    padding: 2rem;
    font-family: @font__robot;
    font-weight: 600;

    .project-item {
        text-align: center;
        width: ~"calc(100% / 3)";
        display: inline-block;
        vertical-align: top;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;

        .project-title {
            font-family: @font__default;
            font-weight: 700;
            margin-bottom: 1rem;
            color: @color__navy;
        }

        & > img {
            max-width: 100%;
        }

        .project-desc {
            color: @color__navy;
            padding-top: 1rem;
        }

        .project-link > a {
            display: block;
            text-decoration: none;

            &:active, &:focus {
                outline: 0;
                border: none;
                -moz-outline-style: none;
            }
        }
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media only screen and (max-width: 900px) {
    .projects {
        & > .project-item {
            width: 100%;
        }
    }
}